.archive {
  width: 100%;

  .search {
    margin-top: 40px;
    padding-bottom: 0;

    @include bp(tablet) {
      margin-left: 98px;
    }
  }

  .album {

    &__info {
      display: flex;
      justify-content: space-between;
      margin: 0 17px;

      @include bp(tablet) {
        justify-content: flex-start;
        align-items: center;
        margin-left: 98px;

        p {
          margin-left: 10px;
        }
      }

    }

    &__slider {
      height: 190px;
      overflow-x: scroll;
      margin-left: 17px;
      display: grid;
      grid-template-rows: 90px 90px;
      grid-auto-columns: 150px;
      grid-auto-flow: column dense;
      grid-gap: 5px;

      @include bp(tablet) {
        margin-left: 98px;
      }

      .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        background: rgba(0, 0, 0, 0.3);

        &__exit {
          background-color: rgba(0, 0, 0, 0.75);
        }

        &--open {
          display: block;
        }

        // &--close {
        //   display: none;
        // }

        .modal {
          max-height: 500px;
          max-width: 700px;
          @include bp(tablet){
            margin: 0 auto;
          }
        }
        .modal-text {
          color: $color-white;
          p {
            padding-bottom: 12px;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .landscape {
        height: 88px;
        width: 150px;
        grid-row: span 1;
        grid-column: span 1;
      }

      .portrait {
        width: 150px;
        height: 184px;
        grid-column: span 1;
        grid-row: span 2;
      }
    }
  }

  .videos {
    width: 100%;
    padding: $margin-text-box;

    h2 {
      margin: 0;
      margin-bottom: 16px;

      @include bp(tablet) {
        margin-left: 20px;
      }
    }

    .video {
      width: 100%;
      height: 194px;
      margin-bottom: 8px;
      position: relative;

      @include bp(tablet) {
        height: 550px;
        width: 800px;
        margin-left: 98px;
      }


      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      &__play {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;

        img {
          pointer-events: none;
        }
      }

      &__play:hover {
        cursor: pointer;
      }

      &__play:focus {
        outline: none;
      }
    }
  }
}
