.home {
  &__news {
    @include flex-col;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: $color-green;
    color: $color-white;
    padding-top: 32px;

    h2 {
      width: 100%;
      margin: 0;
      padding-left: 17px;
    }

    .article__item {
      position: relative;
      z-index: 2;
    }

    a {
      position: relative;
      z-index: 2;
      width: 100%;
      display: inline-block;
      padding: 0 0 17px 17px;

      span {
        text-decoration: underline;
      }
    }
  }

  &__bg {
    width: 186px;
    height: 170px;
    position: absolute;
    z-index: 1;
    overflow: hidden;

    img {
      width: 100%;
      position: absolute;
      top: 45px;
      left: 25px;
    }
  }

  &__in_house {
    width: 100%;
    margin-top: 8px;

    img {
      width: 100%;
    }

    h2 {
      margin-bottom: 0;
    }

    .read_more {
      margin: $margin-text-box;
      margin-top: 0px;

      a {
        width: 50%;
      }
    }
  }
}
