.home {
  &__wave {
    display:none;

    @include bp(tablet) {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
      top: 30px;
    }
  }

  &__news {
    @include flex-col;
    align-items: flex-end;
    justify-content: flex-end;
    color: $color-white;

    &__content {
      width: 100%;
      background-color: $color-green;

      h2 {
        width: 100%;
        margin-left: 0;
        padding-left: 17px;

        @include bp(tablet) {
          padding: 0 20px;
        }
      }

      .article__item {
        position: relative;
        z-index: 2;

        @include bp(tablet) {
          margin: 0;
          padding-left: 98px;
          width: 470px;
        }
      }

      h3 {
        @include bp(tablet) {
          margin-bottom: 16px;
        }
      }

      a {
        position: relative;
        z-index: 2;
        width: 100%;
        display: inline-block;
        padding: 0 0 17px 17px;

        @include bp(tablet) {
          padding: 40px 0 70px 98px;
        }

        span {
          text-decoration: underline;

          @include bp(tablet) {
            font-size: 18px;
          }
        }
      }
    }

  }

  &__bg {
    width: 186px;
    height: 170px;
    position: absolute;
    z-index: 1;
    overflow: hidden;

    @include bp(tablet) {
      width: 400px;
      height: 520px;
    }

    img {
      width: 100%;
      position: absolute;
      top: -20px;
      left: 0px;

      @include bp(tablet) {
        top: 105px;
      }
    }
  }

  &__in_house {
    width: 100%;
    margin-top: 8px;

    @include bp(tablet) {
      display: flex;
      padding: 42px 0 48px 98px;
    }

    img {
      width: 100%;
      object-fit: cover;

      @include bp(tablet) {
        width: 392px;
        height: 386px;
      }
    }

    .read_more {
      padding: $margin-text-box;
      padding-top: 0px;

      @include bp(tablet) {
        @include flex-col();
      }

      h2 {
        margin-left: 0;
        margin-bottom: 0;

        @include bp(tablet) {
          margin-left: 20px;
        }
      }

      &__text {
        @include bp(tablet) {
          @include flex-col-between();
          flex-grow: 1;
          padding-left: 118px;
        }

        p {
          @include bp(tablet) {
            width: 366px;
            flex-grow: 1;
          }
        }

        a {
          width: 50%;

          @include bp(tablet) {
            width: 55%;
            padding: 15px 30px;
            font-size: 18px;
          }
        }
      }

    }
  }
}
