.in_house {
  &__description {
    margin: $margin-text-box;
    border-bottom: 1px solid #BDBDBD;

    @include bp(tablet) {
      border-bottom: none;
    }

    h2 {
      margin: 0;

      @include bp(tablet) {
        margin-left: 20px;
      }
    }

    p {
      @include bp(tablet) {
        padding: 0 175px 48px 98px;
      }
    }
  }
}
