.single-event {
  width: 100%;
}

.hero {
  @include flex-col-end();
  width: 100%;
  height: 100vh;
  padding-top: 55px;
  color: $color-white;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &__content{
    @include flex-col-between();
    height: 320px;
    padding: 0 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.5%, rgba(0, 0, 0, 0.95) 93.14%);
    background-blend-mode: darken;
    position: relative;
    z-index: 2;

    &__text {
      @include flex-col-start();

      h2, p {
        margin: 0;
      }
    }

    .explore {
      display:flex;
      justify-content: flex-start;
      align-items: center;
      height: 44px;
      border-top: 1px solid $color-white;

      p {
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.info {
  color: $color-black;
  padding: 32px 16px 22px 16px;

  h2 {
    margin: 0 0 8px 0;
  }

  &__date-time{
    margin: 0;
  }

  &__venue {
    margin: 0;
    font-weight: 800;
  }

  &__description {
    p {
      margin: 8px 0 0 0;
    }

  }
}

.also-play {
  background-color: $color-light;
  color: $color-black;
  padding: 28px 0 28px 16px;
  p {
    margin: 0;
  }
  .date-time {
    font-weight: 800;
    margin-top: 8px;
  }
}

.booking {
  background-color: $color-green;
  color: $color-white;
  h3 {
    margin: 0;
    font-size: 24px;
    text-transform: none;
    font-weight: 100;
    text-align: center;
    padding: 48px 0 0 0;
  }

  .ninja-forms-req-symbol {
    display:none;
  }
  .nf-field-element::after {
    display:none;
  }

  .nf-form-content {
    padding: 0 16px 0 16px;
  }

  .nf-field-container,
  #ninja_forms_required_items {
    margin: 0;
  }

  .nf-field {
    label {
      font-weight: 100;
      font-size: 16px;
    }

    .nf-field-element {
      input[type=text],
      input[type=email],
      select {
        background-color: $color-green;
        color: $color-white;
        height: 44px;
      }
      select {
        border-radius: 0;
        border: 1px solid #c4c4c4;
      }

      #nf-field-30 {
        background-color: $color-orange;
        border-radius: 8px;
        margin: 8px 0 52px 0;
      }
    }
  }
}

.more-events {
  h2 {
    font-weight: 800;
    text-align: center;
  }
}
