.single-event {
  width: 100%;
}

.single {
  .hero {
    @include flex-col-end();
    width: 100%;
    height: 100vh;
    padding-top: 55px;
    color: $color-white;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 1;
      top: 0;
    }

    &__content{
      @include flex-col-between();
      height: 320px;
      padding: 0 16px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.5%, rgba(0, 0, 0, 0.95) 93.14%);
      background-blend-mode: darken;
      position: relative;
      z-index: 2;
      @include bp(tablet){
        padding: 0 20px;
      }

      &__text {
        @include flex-col-start();
        @include bp(tablet){
          padding: 0;
          width: 70%;
        }

        h2, p {
          margin: 0;
        }
      }

      .explore {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        height: 44px;
        border-top: 1px solid $color-white;

        p {
          margin: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.info {
  color: $color-black;
  padding: 32px 16px 22px 16px;
  @include bp(tablet){
    padding: 48px 20px 22px 20px;
  }

  h2 {
    margin: 0 0 8px 0;
  }

  &__date-time{
    margin: 0;
  }

  &__venue {
    margin: 0;
    font-weight: 800;
  }

  &__description {
    @include bp(tablet){
      width: 90%;
    }
    p {
      margin: 8px 0 0 0;
    }

  }
}

.also-play {
  background-color: $color-light;
  color: $color-black;
  padding: 28px 0 28px 16px;
  @include bp(tablet){
    @include flex-row();
    justify-content: center;
  }
  p {
    margin: 0;
  }
  .date-time {
    font-weight: 800;
    margin-top: 8px;
    @include bp(tablet){
      margin: 0 10px;

    }
  }
}

.booking {
  background-color: $color-green;
  color: $color-white;

  h3 {
    margin: 0;
    font-size: 24px;
    text-transform: none;
    font-weight: 100;
    text-align: center;
    padding: 48px 0 0 0;
    @include bp(tablet){
      font-size: 48px;
      font-weight: bold;
      padding: 48px 0 24px 0;

    }
  }

  .ninja-forms-req-symbol {
    display:none;
  }
  .nf-field-element::after {
    display:none;
  }

  .nf-form-content {
    padding: 0 16px 0 16px;
  }

  .nf-field-container,
  #ninja_forms_required_items {
    margin: 0;
  }

  .nf-field {
    label {
      font-weight: 100;
      font-size: 16px;
    }

    .nf-field-element {
      input[type=text],
      input[type=email],
      select {
        background-color: $color-white;
        color: $color-white;
        height: 44px;
      }
      select {
        border-radius: 0;
        border: 1px solid #c4c4c4;
      }

      #nf-field-30 {
        background-color: $color-orange;
        border-radius: 8px;
        margin: 8px 0 52px 0;
      }
    }
  }

  .nf-error .nf-field-element::after {
    background: $color-orange !important;
  }

  .nf-error-msg {
    color: $color-orange !important;
  }

  .nf-error .ninja-forms-field {
    border-color: $color-orange !important;
  }

  .nf-form-content button:hover, .nf-form-content input[type=button]:hover, .nf-form-content input[type=submit]:hover {
    background: #c4c4c4 !important;
  }

  .nf-response-msg {
    background-color: $color-dark-green !important;
    border-radius: 10px !important;
    padding: 2% !important;
    margin-top: 5% !important;
  }
}

.more-events {
  &__title {
    font-weight: 800;
    padding: 32px 0 16px 16px;
    margin: 0;
  }

  &__wrapper {
    overflow: initial;
    @include bp(tablet){
      @include flex-row();
      justify-content: center;
    }

  }

  &__item {
    width: 100%;
    margin: 0;
    @include bp(tablet){
      width: 40%;
      flex: initial;
      margin: 0 50px;
    }
  }



}
