.button {
  background: $color-orange;
    box-shadow: inset 0px 1px 8px rgba(255, 201, 162, 0.25), inset 0px -1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 8px 30px;
}
