.details {
  width: 100%;
  @include bp(tablet){
    @include flex-row();
    padding: 0 0 0 20px;
  }

  &__item {
    width: 100%;
    @include bp(tablet){
      width: 33%;
      padding: 0 20px 0 0;
    }

    img {
      width: 100%;
      height: 232px;
      object-fit: cover;
    }

    &__info {
      margin: 16px 17px 40px 17px;
      @include bp(tablet){
        margin: 32px 17px 48px 17px;
      }

      h3, h4, p {
        margin: 0;
      }

      h3 {
        text-transform: uppercase;
      }

      h4 {
        margin-bottom: 8px;
      }

      p span {
        font-weight: 500;
      }

      a {
        color: $color-black;
        text-decoration: underline;
      }
    }
  }
}
