.filter {
  @include flex-between();
  width: 100%;
  overflow-x: scroll;
  padding: $margin-text-box;

  &__form{
    @extend .filter;

    input {
      visibility: hidden;
    }
  }

  &__button {
    @include flex-center();
    color: $color-grey;
    min-width: 147px;
    height: 44px;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-radius: 10px;
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: 16px;
    flex-grow: 1;
  }
}
