.event-filter {
  height: 50px;
  margin: 18px 16px;
  &__form {
    min-width: 100%;
    display: flex;
    overflow: auto;
  }
  &__button {
    flex: 0 0 auto;
    border: 1px solid $color-filter;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: $color-white;
    color: $color-filter;
    height:44px;
    width: 147px;
    margin: 0 18px 0 0;
    font-size: 14px;
  }
  &__button:hover {
    cursor: pointer;
  }
}

.filter {
  @include flex-between();
  width: 100%;
  overflow-x: scroll;
  padding: $margin-text-box;

  &__form{
    @extend .filter;

    input {
      visibility: hidden;
    }
  }

  &__button {
    @include flex-center();
    color: $color-grey;
    min-width: 147px;
    height: 44px;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-radius: 10px;
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: 16px;
    flex-grow: 1;
  }
}
