.hero {
  @include flex-col();
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  padding-top: 55px;
  color: $color-white;
  background-color: $color-dark-green;

  &__home {
    @extend .hero;
    @include flex-col-center();
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &__content {
    @include flex-col-end();
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.5%, rgba(0, 0, 0, 0.55) 93.14%);
    background-blend-mode: darken;
    position: relative;
    z-index: 2;

    &--home {
      justify-content: center;
    }

    &__text {
      @include flex-col-start();
      height: 275px;
      width: 100%;

      h1, h2, p {
        margin: 0;
      }
    }

    .explore {
      display:flex;
      justify-content: flex-start;
      align-items: center;
      height: 44px;
      width: 100%;
      border-top: 1px solid $color-white;

      p {
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.home {
  &__text {
    text-align: center;
    padding: 25px 25px 0;
  }

  &__button {
    background: $color-orange;
    box-shadow: inset 0px 1px 8px rgba(255, 201, 162, 0.25), inset 0px -1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 35px;
    padding: 8px 30px;
  }

}
