@mixin timlineDesktop($scale,$left){
    

 .history{
   
    .timeline{
        transform: scale($scale);
        left: $left;
        height: 1350px ;
        position: relative;
        width:990px;
        overflow: unset;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
          .timeline_headline{
            display: inline;
          }
          .timeline__desktop-background{
                display:block;
                position: relative;
               
                width: 100%;
          }
        .timeline_container{
            flex-wrap: wrap;
            top:-1.8%;
            right:0px;
             height: auto;
            position: absolute;
            z-index: 2;
            width: 100%;
              overflow: unset;
          .timeline_boxes{
            
            width: 95%;

            .timeline__box{
                position: relative;
                display: flex;
                align-items: center;
            
                padding:0px;
                margin:0px;
          
                
               .timeline__text{
                   position: relative;
                   top:3%;
               }
                 .timeline__line-first,  .timeline__lines{
                    background-color:transparent;
                   
                      }
                      .timeline__lines{
                          width:18px;
                           display: flex;
                           flex-direction: row;
                    justify-content: center;
                    
                      }
        
               .timeline___line-dot{
                max-width: 18px;
                max-height: 18px;
                min-width: 18px;
                min-height: 18px;
             
                
                }
             }
           
            }
          
            .timeline_boxes:nth-child(1){
               
                .timeline__box:nth-child(1){
                      left:40px;;
                    }
                    .timeline__box:nth-last-child(-n+2){
                        left:-60px;
                    }
                    .timeline__box{
                        top:-4.5%;
                    }
                    

                }
                .timeline_boxes:nth-child(2){
                    flex-direction: row-reverse;
                    .timeline__box{
                     top: 26.6%;
                      left:15%;
                    }
                  .timeline__box:nth-child(1){
                      left:7%;
                  }
                    .timeline__box:nth-child(4){
                       left:15%;
                    }
                }
                 .timeline_boxes:nth-child(3){
                 
                  .timeline__box:nth-child(1){
                     top: 28.5%;
                       right:5%;
                      width: 170px;
                      .timeline__text{
                          width:175px ;
                      }

                  }
                     .timeline__box{
                    top: 28.5%;
                      left:5%;
                      
                  }
                  .timeline__box:nth-child(3){
                     top: 28.5%;
                      left:19%;
                      
                  }


                }
                 .timeline_boxes:nth-child(4){
                     flex-direction: row-reverse;
                     
                     .timeline__box{
                         top: 27.3%;
                         left:5%;
                         width: 400px;
                         .timeline__text{
                             width: 205px;
                         }
                     }
                     
                 }
                  .timeline_boxes:nth-child(5){
                        .timeline__box{
                            
                            top:32%;
                            width: 270px;
                        }
                        .timeline__box:nth-child(3){
                            left:5%;
                        }
                        
                      }
            }
           
           
          
     }
    
     .timeline_moreinfo{
                display: none;
            }
        }
    }

