* {
  font-family: 'Nunito Sans';
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  @include bp(tablet){
    font-size: 18px;
  }
}

h1, h2 {
  font-family: $font-heading;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.02em;
  @include bp(tablet){
    font-size: 40px;
  }
  }


h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  @include bp(tablet){
    font-size: 32px;
  }
}

h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  @include bp(tablet){
    font-size: 18px;
  }
}

h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #7A7A7A;
}

.page__heading {
  font-family: $font-heading;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  margin: 32px 17px;
  @include bp(tablet){
    font-size: 40px;
    line-height: 57px;
  }
}
