   .gatheimska_logo{
           @include bp(tablet) {
             display: none;
          }
       }
footer{
    align-self: flex-end;
    background-color:$color-light;
    position: relative;
    display:flex;
    width:100vw;
 
    overflow: hidden;
    margin: 0px;
   
          

    @include bp(tablet) {
      padding-left: 175px;
      width: 100%;
    }
    


    .footer_container{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:40px 0px 60px 32px;
        width:100%;
        z-index: 1;
    
        @include bp(tablet) {
      max-height: 420px;
      margin-left: 3%;
      padding:40px 0px 60px 32px;
    }
       
    
         .footer__social{
                     display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;
                     
        @include bp(desktop) {
            img{
                transform: scale(1.2);
            }
    }
                   

                .footer___media{
                        width: 26%;
                        max-width: 80px;
                        display: flex;

                        align-items: center;
                        justify-content: space-between;
                       


                        a:hover{
                            cursor: pointer;
                        }
                    }

            }
    }

    .footer__info{
        font-size: 16px;
        
          @include bp(tablet) {
      width: 30%;
    }
        
        
       
    }
    .footer__suporting{
       width:205px;
       
     
       
          @include bp(desktop) {
                 padding-top: 50px;
                 transform: scale(1.45);
                
                }
        p{
             font-weight: bold;
             font-size: 10px;
               @include bp(tablet) {
                transform: scale(1);;
                
                }
        }
      .footer__suport_box{
         display: flex;

        .footer__support_col1{
            position: relative;
            top:5px;
              img:nth-child(1){
                width: 53px;
            }
               img:nth-child(2){
                width: 53px;
                
            }
        }
        .footer__support_col2{
             position: relative;
                left:-20px;
              img:nth-child(1){
                width: 64px;
               
            }

           
        }

        div{
            width:100px;
        }
      }


    }
    .footer_bird_background{
        position: absolute;
        bottom: -20px;
        right:-20px;
        z-index:0;
        width:63%;
        max-width: 300px;
        transform: scaleX(-1);
           @include bp(tablet) {
             left: 60%;
             max-width: 343px;
             width: 100%;
              
             }   
               @include bp(desktop) {
             left: 71%;
           
              
             } 
    }
}
