@import 'abstracts/_abstracts';
@import 'base/_base';
@import 'components/_components';
@import 'layout/_layout';
@import 'pages/_pages';

body {
  margin: 0;
  min-width: 100vw;
  max-width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  flex-grow: 1;

  @include bp(tablet) {
    padding-left: 175px;
  }
}

.hidden {
  display: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;

  @include bp(tablet) {
    height: 0vh;
    overflow: scroll;
  }
}

a {
  color: $color-white;
  text-decoration: none;
}
