@import 'abstracts/_abstracts';
@import 'base/_base';
@import 'components/_components';
@import 'layout/_layout';
@import 'pages/_pages';

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

a {
  color: $color-white;
  text-decoration: none;
}
