@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-col-end() {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flex-col-start() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px) { @content; }
  }
}

//Menu
@mixin menu-item-a {
  width: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 5%;
}

@mixin sub-menu-a {
  text-decoration: underline;
  font-weight: 300;
  padding-left: 10%;
}
