@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
