$color-light: #F7F0E1;
$color-orange: #E8680B;
$color-green: #18595B;
$color-dark-green: #112E33;
$color-black: #1C1C1C;
$color-white: #FFFFFF;
$color-grey: #BDBDBD;
$color-filter: #8E8E8E;

$font-heading: 'Roboto Condensed', sans-serif;
$margin-text-box: 32px 17px;
